@{
    ViewData["Title"] = "New Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>You are navigated to A new Page</p>
    <p>Thank You</p>
    <img src="Iceimage.jpg" alt="Image of Ice" />
</div>