<table  class="table table-striped table-dark">
    <thead >
        <tr>
            <th >Name</th>
            <th >Age</th>
            <th >Email</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let user of tableDetails">
            <td>{{user.Name}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Email}}</td>
        </tr>
    </tbody>
</table>
<P>hello {{name}} from Nested Component</P>
<button class="btn btn-primary" (click)="greetMe(myName)">ClickMe To Greet</button>